.store-title{

    font-size: 2.4rem;
    font-weight: 800;
    color:#F5F5F5;
    letter-spacing:2px;
    position:relative;
}

.store-title::after{
    content:"";
    width:60%;
    height:3px;
    background:#D4AF37;
    position:absolute;
    left:0;
    bottom:-6px;
    border-radius:2px;
}

.navbar{
    background-color: #1F3D2B;
    padding: 18px 40px;
    display:flex;
    justify-content: space-between;
    align-items:center;

    box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  padding: 0;
}

.navbar-item a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Georgia;
  padding: 1rem 5rem;
  font-size: 35px;
  transition: background 0.3s;
}

.navbar-item a:hover {
  background-color: #555;
  border-radius: 5px;
}

.btnCartWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}
